<?xml version='1.0' encoding='utf-8'?>
<plugin id="aia-plugin-stream" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>AiaStream</name>
	<js-module name="AiaStream" src="www/AiaStream.js">
		<clobbers target="cordova.plugins.AiaStream" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AiaStream">
				<param name="android-package" value="com.aia.stream" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA"></uses-permission>
            <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
        </config-file>
		<source-file src="src/android/AiaStream.java" target-dir="src/com/aia/stream/AiaStream.java" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="AiaStream">
				<param name="ios-package" value="AiaStream" />
			</feature>
		</config-file>
		<source-file src="src/ios/AiaStream.m" />
	</platform>
</plugin>